# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Virtual environments
venv/
env/

# Jupyter
*.ipynb_checkpoints

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Model / Large files (optional)
*.pkl
*.h5
*.mp4
*.pdf
